---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&part=id&q=tomato%20recipe&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/DFtPxK7nRuW4TMuvZ98aCN5XqjM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/DFtPxK7nRuW4TMuvZ98aCN5XqjM\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "TW",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/MkH6luhx1EGswfmyQq1a855Zz4w\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "EFv69aT5bZI"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/vwH6VVhhw3FcCbDg4ZLnuie1mPQ\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "6d064RiWVJM"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/lyPlVUrLr5TDyD7eXvGDJcj6qlQ\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "2qV40NfC8Bs"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/xMNZColCnGz3zKWfvRP0Kd96u-A\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kMaaMCuGZuo"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/_6DmzCSIiYQgnPo2ZzVwOhiLYaY\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "Oj9_luDe7EE"
           }
          }
         ]
        }
  recorded_at: Thu, 26 Oct 2017 14:39:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<API_KEY>&part=id&q=&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"cbz3lIQ2N25AfwNr-BdxUVxJ_QY/S3GVHx2yYqQklMO0bYMhHFNk6OM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
     [...]
